.navbar {
  font-family: var(--ubuntu);
  position: sticky;
  top: 0;
  z-index: 100;
}
.changeColorNavbar {
  background-color: #000000;
  outline: 3px solid #ececec;
}
.nav-title {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--color1);
}
.nav-link {
  font-weight: bolder;
  color: var(--color1);
}
.nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(90, 86, 86);
}

.nav-title:hover {
  cursor: pointer;
  color: rgb(90, 86, 86);
}

.navbar-language {
  position: absolute;
  right: 5%;
}
.container-select {
  display: flex;
  align-items: center;
}

.language-icon {
  width: 1.3rem;
}
.select-language {
  border: none;
  border-radius: 10px;
  padding: 0.2rem;
  background:none;
  font-weight: bolder;
  color: var(--color1);
}
.language-option {
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  background-color: #000000;
}

/*    MEDIA QUERIES    */

@media (max-width: 990px) {
  .navbar-language {
    position: static;
  }
  .container-select {
    justify-content: center;
  }
}
